.login-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 900px;
    margin: 80px auto;
  }

body{
  object-fit: fill;
  background-image: url(bg-SignIn.png);
  background-repeat: no-repeat;
}
:root {
  --bg-color: #06080e;
  --text-color: #fff;
  --main-color: #2997fd;
}
  .image-container {
    position: relative;
    top: 2px;
    width: 45%;
  }
  
  .image-container img {
    width: 92%;
    height: 92.5%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    position: relative;
    left: 15.5px;
  }
  
  .form-container {
    width: 80%;
    padding: 20px;
    backdrop-filter: blur(25px);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    position: relative;
    left: -15.5px;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    font-weight: 700;
  }
  
  .input-field {
    width: 70%;
    height: 27px;
    font-size: 17px;
    font-weight: 200;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    transition: border-color 0.5s ease-in-out;
    color: var(--main-color);
    background-color: #000000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  .inpdiv{
    position: relative;
    display: block;
    justify-content: center;
  }
  input{
    align-content: center;
  }
  /* .input-field:focus {
    border-color:var(--main-color);
    color: rgb(0, 102, 255) ;
    box-shadow: 0 0 25px rgba(150, 192, 255, 0.5);
  } */
  .input-field:hover{
    box-shadow: 0 0 25px rgba(150, 192, 255, 0.5);
    border-color:var(--main-color);
  }
  .error-message {
    text-align: start;
    color: red;
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-top: 0px;
    margin-left: 80px;
    position: fixed;
  }
  .submit-button {
    font-size: 17px;
    align-items: center;
    margin: 39px 0px 10px;
    width: 30%;
    height: 40px;
    background-color: #3686ff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45abff;
  }